<!DOCTYPE html>
<html>
<head>
    <title>Einkaufsliste</title>

    <link rel="apple-touch-icon" sizes="180x180" href="https://picluster.a-h.wtf/einkaufsliste/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://picluster.a-h.wtf/einkaufsliste/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://picluster.a-h.wtf/einkaufsliste/static/img/favicon-16x16.png">
    <link rel="manifest" href="https://picluster.a-h.wtf/einkaufsliste/static/img/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://picluster.a-h.wtf/einkaufsliste/static/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="https://picluster.a-h.wtf/einkaufsliste/static/css/main.css" type="text/css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
</head>
<body>
    <header>        
        
    </header>
    
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 l8 offset-l2" id="card-container">
                    <div class="card s12 item-card">
                        <div class="card-content">
                            <span class="card-title">Butter</span>
                            <div class="chip green-text green lighten-5">Supermarkt</div>
                        </div>
                    </div>

                    <div class="card s12 item-card">
                        <div class="card-content">
                            <span class="card-title">Shampoo</span>
                            <div class="chips-wrapper">
                                <div class="chip green-text green lighten-5">Supermarkt</div>
                                <div class="chip blue-text blue lighten-5">Drogerie</div>
                                <div class="chip red-text red lighten-5">Zoohandlung</div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
            <div class="fixed-action-btn center-horizontally">
              <a class="btn-floating btn-large waves-effect red" id="add-btn">
                <i class="large material-icons">add</i>
              </a>
              <!-- <ul>
                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
              </ul> -->
            </div>
        </div>

    <template id="edit-template">
        <div class="card s12 item-edit">
            <div class="card-content">
                <!-- <span class="card-title">New</span> -->
                <div class="input-field card-title">
                  <input placeholder="Neuer Eintrag" id="item" type="text">
                  <!-- <label for="item">Neuer Eintrag</label> -->
                </div>
                <div class="chips chips-autocomplete chips-placeholder" placeholder="Tags"></div>
            </div>
        </div>
    </template>
      
    </main>

    <script type="text/javascript" src="https://picluster.a-h.wtf/einkaufsliste/static/js/materialize.min.js"></script>
    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(elems);

          var elems = document.querySelectorAll('.chips');
          var instances = M.Chips.init(elems, {
            placeholder: 'Tags',
            autocompleteOptions: {
                data: {
                    'Supermarkt': null,
                    'Drogerie': null,
                    'Zoohandlung': null
                  },
                  limit: Infinity,
                  minLength: 1
                }
            });

          var elems = document.querySelectorAll('.fixed-action-btn');
          var instances = M.FloatingActionButton.init(elems);

          var itemCards = document.querySelectorAll('.item-card');
          itemCards.forEach((card) => card.addEventListener('click', function() {
                this.classList.toggle('grey');
                this.classList.toggle('lighten-2');
                this.classList.toggle('grey-text');
                this.querySelector('.card-title').classList.toggle('line-through');
              })
          );

          const container = document.getElementById("card-container");
          const template = document.getElementById("edit-template");
          const addBtn = document.getElementById("add-btn");

          addBtn.addEventListener('click', function() {
            const newEditCard = template.content.firstElementChild.cloneNode(true);

            const nChildren = container.children.length;
            const newId = 'item-edit-' + (nChildren + 1)
            newEditCard.id = newId;

            container.prepend(newEditCard);

            var elems = newEditCard.querySelectorAll('.chips');
              var instances = M.Chips.init(elems, {
                placeholder: 'Tags',
                autocompleteOptions: {
                    data: {
                        'Supermarkt': null,
                        'Drogerie': null,
                        'Zoohandlung': null
                      },
                      limit: Infinity,
                      minLength: 1
                    }
                });
          });

      });
      
    </script>
    
</body>
</html>
